/* Here be all my css code in case of future need.*/

#headerText {
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 20px; 
}
#normaltext {
    font-size: 15px;
    font-style: italic;
    margin-bottom: 20px; 
}
#normaltext2 {
    font-size: 22px;
    font-style: italic;
    margin-bottom: 20px; 
}
#normaltextbutfar {
    font-size: 22px;
    font-style: italic;
    margin-bottom: 40px; 
}
#bordering {
    font-size: 16px;
    margin-bottom: 40px; 
    color: rgba(0, 0, 0, 0.274);
}
        #dynamicText {
            font-size: 11px;
            font-style: italic;
            color: rgba(255, 255, 255, 0.432);
        }
    
        body {
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center;      
    height: 100vh;            
    margin: 0;                
    background: linear-gradient(90deg, #324cff, #2A8FEA, #24BBDA );
}
p.dotted {border-style: dotted;}
    p.dashed {border-style: dashed;}
    p.solid {border-style: solid;}
    p.double {border-style: double;}
    p.groove {border-style: groove;}
    p.ridge {border-style: ridge;}
    p.inset {border-style: inset;}
    p.outset {border-style: outset;}
    p.none {border-style: none;}
    p.hidden {border-style: hidden;}
    p.mix {border-style: dotted dashed solid double;}